      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/" alt="Domowy Panel Zarządzania" style="color: #fff;">Domowy Panel Zarządzania</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
<!--        <li class="nav-item">
              <a class="nav-link" href="/notes">Artykuły</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">O nas</a>
            </li> -->

          
        {% if session.logged_in%}
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav navbar-left">
            <li class="nav-item">
              <a class="nav-link" href="/download">Archiwum nagrań</a>
            </li>
          </ul>
            <li class="nav-item">
              <a class="nav-link" href="/notes">Notatki</a>
            </li>
        </ul>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <a href="/logout" class="nav-link">Wyloguj się</a>
            </li>
          </ul>
            {% else %}
         <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav navbar-left">
            <li class="nav-item">
              <a href="/register" class="nav-link">Rejestracja</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link">Zaloguj się</a>
            </li>
          </ul>
        </ul>

            {% endif %}
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Szukaj" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
          </form>
        </div>
      </nav>