{% extends "base.html" %}

{% block title %}
	Notatka
{% endblock title %}

{% block content %}
{% if artd %}
	{% if session.username == artd.author %}
		<a href="{{url_for('note_edit',id=artd.id)}}" class="btn btn-info">Edytuj wpis</a>
		<a href="{{url_for('article_delete',id=artd.id)}}" class="btn btn-danger">Usuń</a>
		<br><br>
	{% endif %}
	<div class="container jumbotron col-10">
		<h2>
			{{id}}
			<h2>{{artd.title}}</h2>
			<h4>{{artd.author}} | {{artd.created}}</h4>
			<p>{{artd.content}}</p>
		</h2>
	</div>
{% endif %}

{% endblock content %}