<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}

			{% endblock title %}
		</title>
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/sticky-footer-navbar.css">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
	</head>
	<body>
      {% include "includes/nav.html" %}
		<main class="container">
			{% include "/includes/messages.html"%}
			{% block content %}

			{% endblock content %}
		</main>

      	{% include "includes/footer.html" %}
		<script src="../static/js/bootstrap.min.js"></script>
	</body>
</html>