{% extends "base.html" %}

{% block title %}
	Utwórz notatkę
{% endblock title %}

{% block content %}
	<div class="container col-8">
		<!-- <h1>{{msg}}</h1> -->
		<h2 class="h2 mb-1 font-weight-normal text-lg-center">Dodaj notatkę</h2>
		{% from "includes/_formhelper.html" import render_field %}
		<form action="" method="POST">
			<div class="form-group">
				{{render_field(form.title,class="form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.content,class="form-control")}}
			</div>
			<button type="submit" class="btn btn-primary">Utwórz</button>
		</form>
{% endblock content %}