{% extends "base.html" %}

{% block title %}
	Nagrania
{% endblock title %}

{% block content %}
Ścieżka do plików: {{source_path}}</p>


	<div class="container jumbotron col-10">
		{% for file in files %}
		<ul class="list-group">
			<li class="list-group-item">
				<a href="{{url_for('download', video=file)}}" target="_blank">
					<button class="btn btn-default">Odtwórz nagranie</button>
				</a>
				Plik: {{file}}
			</li>
		</ul>

		{% endfor %}

	</div>
{% endblock content %}