{% extends "base.html" %}

{% block title %}
	DPZ - Domowy Panel Zarządzania
{% endblock title %}

{% block content %}
	<div class="container jumbotron col-10">

		<span>
			{% if session.logged_in %}
			<span>Jesteś zalogowany</span>
			{% else %}
			<p class="lead">Aby przeglądać zawartość strony, zaloguj się!</p>
			<a href="/register" class="btn btn-primary">Rejestracja</a>
			<a href="/login" class="btn btn-primary">Logowanie</a>
			{% endif %}
		</span>
	</div>
{% endblock content %}