{% extends "base.html" %}

{% block title %}
	Panel logowania
{% endblock title %}

{% block content %}
<div class="container col-4 text-center">
{% from "includes/_formhelper.html" import render_field %}

<form action="" method="POST">
   <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
   <label for="inputEmail" class="sr-only">Login</label>
   <input type="text" name="username" class="form-control" placeholder="Login" required autofocus value="{{request.form.username}}">
   <label for="inputPassword" class="sr-only">Hasło</label>
   <input type="password" name="password" class="form-control" placeholder="Hasło" required value="{{request.form.username}}">
   <div class="checkbox mb-3">
      <p><label>
      <input type="checkbox" value="remember-me"> Pamiętaj mnie
      </label></p>
   </div>
   <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
   <p class="mt-5 mb-3 text-muted">&copy; 2018 - 2019</p>
</form>
{% endblock content %}