{% extends "base.html" %}

{% block title %}
	Notatki
{% endblock title %}

{% block content %}
	<div class="container jumbotron col-10">
		<h2>
			<h1>Notatki</h1>
			<a href="{{url_for('Article_create')}}" class="btn btn-primary btn-sm">Utwórz notatkę</a>
			<br><br>
			<ul class="list-group">
				{% for article in notes %}
					<li class="list-group-item">
						<a href="/notes/{{article.id}}" />
							{{article.title}}
						</a>
					</li>
				{% endfor %}				
			</ul>
		</h2>
	</div>
{% endblock content %}