{% extends "base.html" %}

{% block title %}
	Register page
{% endblock title %}

{% block content %}
	<div class="container col-8">
		<!-- <h1>{{msg}}</h1> -->
		{% from "includes/_formhelper.html" import render_field %}
		<form action="" method="POST">
			<div class="form-group">
				{{render_field(form.name,class="form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.username,class="form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.email,class="form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.password,class="form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.confirm,class="form-control")}}
			</div>
			<button type="submit" class="btn btn-primary">Zarejestruj się</button>
		</form>
{% endblock content %}