{% extends "base.html" %}

{% block title %}
	Test
{% endblock title %}

{% block content %}
	{{projectName}}
	{{title}}
	<br>
	{% for files in zz %}
	{{zz}}
	{% endfor %}
	<br>


	{% for x in plic %}
		<li>{{x}}</li>
	{% endfor %}
	<br>
	{{plic}}
	<br>
	{{file}}
	



{% endblock content %}